*{
    margin: 0;
    padding:0;
}
/* Practicando Grids */
.border{
    border: 3px solid black;
}
#grilla{
    display: grid;
    grid-template-areas:
    "nav header header"
    "nav productos propaganda"
    "nav servicios propaganda"
    "nav footer none";
    grid-template-columns: 20% auto 25%;
    grid-template-rows: 500px 200px 100px 150px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
header{
    grid-area: header;
}
nav{
    grid-area: nav;
}
section#productos{
    grid-area: productos;
}
section#servicios{
    grid-area: servicios;
}
aside{
    grid-area: propaganda;
}
footer{
    grid-area: footer;
}





















.Menu{
    list-style: none;
    display: grid;
    grid-template-columns: 50%;
    
}

.Menu li{
    border: 2px solid black;
    font-family: 'Codystar', cursive;
    font-family: 'Tilt Prism', cursive;
    font-family: 'Twinkle Star', cursive;
    text-align: center;
    background-color: bisque;
}

.Menu li:hover{
    background-color: rgb(86, 170, 170);
    font-family: 'Codystar', cursive;
    font-family: 'Tilt Prism', cursive;
    font-family: 'Twinkle Star', cursive;
    font-size: larger;
    text-align: center;
}

.tablita{
    margin: 5px;
    padding: 5px;
    width: 50%;
    height: 50%;
}
.tablita td{
    border: solid 3px rgb(136, 211, 118);
    padding: 3px;
    border-radius: 10px;
    padding: 15px;
}
.tablita td:hover{
    background-color: rgb(168, 230, 188);
    font-size: larger;
}

.tablita th{
    border: solid 3px rgb(224, 76, 76);
    padding: 3px;
    border-radius: 10px;
    padding: 15px;
}

.tablita th:hover{
    background-color: rgb(219, 134, 134);
    font-size: larger;
}

a{
    display: block;
    margin-top: 50px 0px 50px 0px;
}
iframe{
    display: block;
    margin: 50px;
}