*{
    margin: 0;
    padding:0;
}
body{
    background-color: rgb(140, 140, 148);
    display: block;
}
.tablita {
    border: 3px solid rgb(98, 98, 141);
    margin: 1%;
}

.tablita td{
    border: 3px solid rgb(98, 98, 141);
    margin: 1%;
}

.tablita th{
    border: 3px solid rgb(55, 55, 204);
    margin: 1%;
}

#formulario{
    background-color: rgba(128, 126, 126, 0.705);
    border: solid 5px black;
    border-radius: 10px;
    width: 33%;
    padding: 5px;
}

#formulario input {
    padding: 5px;
}
#formulario .check{
    background-color: aquamarine;
}
ul {
    margin-left: 2%;
    list-style: none;
    text-align: justify;
    line-height: 4;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
    color: rgb(42, 165, 63);
}

#botones{
    border: solid 2px black;
    border-radius: 0.2em 0.5em;
    background-color: beige;
    font-size: large;
    color: rgb(224, 124, 29);
}

#botones:hover{
    border: solid 2px black;
    border-radius: 0.5em 0.2em;
    background-color: rgb(224, 124, 29);
    font-size: large;
    color: beige;
}

div {
    /* propiedades decorativas */
    border: solid 1px black;
    padding: 5px;
    display: inline-block;
    font-size: 32px;
    font-family: Arial;
     /* propiedades que hacen el "problema" */
    width: 100px;
    height: 110px;
    /* solucion */
    overflow: hidden;
   }
#cajitaDeBotones{
    display: inline-block;
    width: 245px;
    height: 50px;
    position: sticky;

}

ul {
    list-style: none;
    font-size:0 /* truco por el uso de inline-block*/
 }
 li {
    display: inline-block;
    width: 15%;
    position:relative;
    font-size: 15px;
    border: solid 3px black;
    background-color: azure;
    align-content: center;
 }
 ul ul {
    position: absolute;
    display: none;
 }
 ul ul li {
    display: block;
 }
 ul li:hover ul {
    display:block;
    width: 120%;

 }
 